@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.cities {
    width: 100%;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.cities h1 {
    font-size: 2rem;
    color: #333;
    font-weight: normal;
}

.cities h1 span {
    font-size: 2.5rem;
    font-weight: 500;
}

.cities .cityContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.cities .cityContainer .city {
    width: 350px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border: 1px solid lightgray;
    border-radius: 0.8rem;
    cursor: pointer;
    background-color: white;
}

.cities .cityContainer .city:hover {
    box-shadow: 10px 10px 5px 0px rgba(28, 28, 28, 0.08);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(28, 28, 28, 0.08);
    -moz-box-shadow: 10px 10px 5px 0px rgba(28, 28, 28, 0.08);
    box-sizing: inherit;
}

.cities .cityContainer .city .cityLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cities .cityContainer .city .cityLeft h3 {
    font-size: 20px;
    letter-spacing: 0.05rem;
    font-weight: normal;
}

.cities .cityContainer .city .cityLeft span {
    font-size: 16px;
    color: gray;
}






/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.cities {
    width: 100%;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    h1 {
        font-size: 2rem;
        color: #333;
        font-weight: normal;

        span {
            font-size: 2.5rem;
            font-weight: 500;

        }
    }

    .cityContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;

        .city {
            width: 350px;
            min-width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
            cursor: pointer;
            background-color: white;

            &:hover {
                box-shadow: 10px 10px 5px 0px rgba(242,222,222,0.75);
                -webkit-box-shadow: 10px 10px 5px 0px rgba(242,222,222,0.75);
                -moz-box-shadow: 10px 10px 5px 0px rgba(242,222,222,0.75);
            }

            .cityLeft {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-size: 20px;
                    letter-spacing: 0.05rem;
                    font-weight: normal;
                }

                span {
                    font-size: 16px;
                    color: gray;
                }
            }

        }

    }
} */